RewriteEngine On

# rewrite jim.2martens.de to 2martens.de
RewriteCond %{SERVER_NAME} ^jim\.2martens\.de [NC]
RewriteRule ^(.*)$ https://2martens.de/$1 [L,R=301]

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# custom 404 error page
ErrorDocument 404 /404.html

# sets cache header for most static files, max-age is set to one day
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|pdf)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>

# redirect aliases
Redirect 301 /bezirk-altona https://sitzungsdienst-altona.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-bergedorf https://sitzungsdienst-bergedorf.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-eimsbuettel https://sitzungsdienst-eimsbuettel.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-eimsbüttel https://sitzungsdienst-eimsbuettel.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-harburg https://sitzungsdienst-harburg.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-nord https://sitzungsdienst-hamburg-nord.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-mitte https://sitzungsdienst-hamburg-mitte.hamburg.de/bi/allris.net.asp
Redirect 301 /bezirk-wandsbek https://sitzungsdienst-wandsbek.hamburg.de/bi/allris.net.asp
Redirect 301 /büscha https://www.hamburgische-buergerschaft.de/
Redirect 301 /urheberrecht https://gruenejugendhamburg.de/allgemein/aufruf-zur-demo-gegen-die-urheberrechtsreform-der-eu-am-02-juli-um-17-uhr-am-jungfernstieg/
