<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="unstyled-list">
                    <li><a href="/legal-notice">Impressum</li>
                    <li><a href="/datenschutz">Datenschutz</li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                  {% if site.github_username %}
                  <li>
                    {% include icon-github.html username=site.github_username %}
                  </li>
                  {% endif %}

                  {% if site.twitter_username %}
                  <li>
                    {% include icon-twitter.html username=site.twitter_username %}
                  </li>
                  {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jim.2martens.de" property="cc:attributionName" rel="cc:attributionURL">Jim Martens</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
        </div>

    </div>

</footer>
