<footer class="site-footer small text-muted py-3 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <nav>
                    <ul class="nav">
                        {% for item in site.data.footer-menu.items %}
                            <li class="nav-item{% if page.url == item.link %} active{% endif %}">
                                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                {% if site.data.promotion.show %}
                <a href="{{ site.data.promotion.link }}">
                    <img src="{{ site.data.promotion.image }}" alt="{{ site.data.promotion.title }} promotional image" />
                </a>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <ul class="list-unstyled">
                    {% if site.data.author.github_username %}
                    <li>
                        {% include icon-github.html username=site.data.author.github_username %}
                    </li>
                    {% endif %}

                    {% if site.data.author.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.data.author.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0"
                         src="{% link /assets/images/cc-by-sa40.png %}"/>
                </a><br/>
                <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.title }}</span> by
                <a xmlns:cc="http://creativecommons.org/ns" href="{{ site.url }}"
                   property="cc:attributionName"
                   rel="cc:attributionURL">
                    {{ site.data.author.name }}
                </a> is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License
                </a>.
            </div>
        </div>
    </div>
</footer>
