<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description"
          content="{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    {% asset main.css %}
    {% asset fa-svg-with-js.css %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
          href="{{ site.baseurl }}{% link feed.xml %}">

    <script>
        FontAwesomeConfig = { autoAddCss: false }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    {% asset main.js %}
    {% asset echo.js %}
    <script defer>
        echo.init({
            offset: 500,
            throttle: 250,
            unload: false
        });
    </script>
    {% asset fontawesome-all.js defer %}
</head>
