<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description"
          content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip | truncatewords: 75 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}'>

    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
    {% else %}
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% if page.tags %}
        <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}
    {% if author %}
        <meta property="article:author" content="{{ author.name }}" />
    {% endif %}
    {% asset main.css %}
    {% asset fa-svg-with-js.css %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
          href="{{ site.baseurl }}{% link feed.xml %}">
    <link rel="mask-icon" href="{{ site.data.author.brand_logo_mask }}" sizes="any" color="#323232">
    <link rel="shortcut icon" href="{{ site.data.author.brand_logo_png150 }}" type="image/png" sizes="150x150">
    <link rel="apple-touch-icon" sizes="150x150" href="{{ site.data.author.brand_logo_png150 }}">

    <script>
        FontAwesomeConfig = { autoAddCss: false }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    {% asset main.js %}
    {% asset echo.js %}
    <script defer>
        echo.init({
            offset: 500,
            throttle: 250,
            unload: false
        });
    </script>
    {% asset fontawesome-all.js defer %}
</head>
