<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/media' | prepend: site.baseurl }}">Media</a>
                    </li>
                    {% comment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container my-3">
    {% comment %}notification area {% endcomment %}
    <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
    </div>
</div>
