@charset "UTF-8";

// contains critical css that needs to load immediately
@import "bootstrap-custom";
@import "fa-svg-with-js";

.site-header > .navbar {
  //border-top: 5px solid $dark;
  border-bottom: 2px solid $light;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

$navbarHeight: 58px;

.large {
  font-size: $font-size-lg;
}

#submenuNavbar {
  top: $navbarHeight;
}

#main {
  margin-top: $navbarHeight + 15px;
  margin-bottom: $navbarHeight + 15px;
}

#main.submenu {
  margin-top: 2*$navbarHeight + 15px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -2*$navbarHeight; // Set the Appropriate Height
  height: 2*$navbarHeight; // Set the Appropriate Height
  visibility: hidden;
}

#countdown:before {
  display: inline;
}

.site-header > .navbar {
  background-color: $body-bg;
}

.site-footer {
  border-top: 2px solid $light;
  background-color: $body-bg;
}

.post-content, p {
  text-align: justify;
}

.post-title {
  font-weight: $font-weight-normal;
}

.card.sidebar {
  width: 20rem;
}

blockquote {
  padding: 0 1em;
  color: $gray-600;
  border-left: 0.25em solid $gray-300;
}

@include media-breakpoint-up(md) {
  #main {
    margin-bottom: 295px;
  }
}

@include media-breakpoint-down(sm) {
  .md-up {
    display: none;
  }
}

// map of election district feature

#election_map svg {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: block;
}

#election_map g {
  fill: #ccc;
}

#election_map g:visited {
  /*fill: #fc0 !important;*/
  fill: #fc0;
}
#election_map g:hover, #election_map g.active {
  fill: #228B22;
  cursor: pointer;
}

#election_map g:active {
  fill: #fc0;
}

.info_panel {
  background-color: rgba(255,255,255, .8);
  /*background-color: rgba(255,204,0, .8);*/
  padding: 5px;
  font-size: 10px;
  position: absolute;
  border: 1px solid #333;
  color: #333;
  white-space: nowrap;
}