@charset "UTF-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"bootstrap-custom"
//"base",
//"layout",
//"syntax-highlighting"
;

.site-header > .navbar {
  //border-top: 5px solid $dark;
  border-bottom: 2px solid $light;
}

$navbarHeight: 60px;

#submenuNavbar {
  top: $navbarHeight;
}

body {
  padding-top: $navbarHeight;
}

body.submenu {
  padding-top: 2*$navbarHeight;
}

main {
  padding-bottom: 150px;
}

.site-header > .navbar {
  background-color: $body-bg;
}

.site-footer {
  border-top: 2px solid $light;
  background-color: $body-bg;
}

.post-content {
    text-align: justify;
}

.post-title {
    font-weight: $font-weight-normal;
}