@charset "UTF-8";

// non-critical CSS

// map of election district feature

#election_map svg {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: block;
}

#election_map g {
  fill: #ccc;
}

#election_map g:visited {
  /*fill: #fc0 !important;*/
  fill: #fc0;
}
#election_map g:hover {
  fill: #228B22;
  cursor: pointer;
}

#election_map g:active {
  fill: #fc0;
}

.info_panel {
  background-color: rgba(255,255,255, .8);
  /*background-color: rgba(255,204,0, .8);*/
  padding: 5px;
  font-size: 10px;
  position: absolute;
  border: 1px solid #333;
  color: #333;
  white-space: nowrap;
}
