---
title: Bezirkswahl 2019
permalink: /bezirkswahl-2019/
description: On this page you can find information about my campaign in the local elections of Hamburg in 2019.
sidebarboxes: author encrypted-communication events
---

<p>
    Im Frühjahr 2019 findet die kombinierte Wahl des EU-Parlaments und der Bezirksversammlungen in Hamburg statt.
    Dabei beabsichtige ich im Bezirk Eimsbüttel für die GRÜNEN anzutreten. Die listenaufstellende Mitgliederversammlung
    findet dort im Januar 2019 statt. Es ergibt sich also grob ein Zwei-Phasen-Wahlkampf. In der ersten Phase geht es
    darum eine gute Position auf der Liste der GRÜNEN zu bekommen und in der zweiten Phase (dem eigentlichen Wahlkampf)
    geht es darum möglichst viele Stimmen für die GRÜNEN zu sammeln. Im Folgenden werde ich mein persönliches Wahlprogramm
    darlegen. Darüber hinaus werde ich natürlich auch das Programm der GRÜNEN in Eimsbüttel insgesamt unterstützen, aber
    dies sind meine Prioritäten.
</p>

<p>
    In der Sidebar könnt ihr alle Veranstaltungen und Events im Zusammenhang mit der Bezirkswahl sehen. Außerdem werde
    ich während des Wahlkampfes Berichte von Veranstaltungen schreiben, die dann auch weiter unten auf dieser Seite
    aufgelistet sein werden.
</p>

<h2>Wahlprogramm</h2>

<h3>Busspur in der Kieler Straße</h3>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Buslinie 4 ist unzuverlässig</li>
    <li><span class="font-weight-bold">Lösung:</span> Beidseitige Busspur in der Kieler Straße vom Eidelstedter Platz
        bis zur Einmündung des Langenfelder Damms.</li>
    <li><span class="font-weight-bold">Begründung:</span> Eine solche Busspur würde ein zuverlässiges Durchkommen
        des Busses in der Hauptverkehrszeit ermöglichen. Als positiver Nebeneffekt könnten auch Rettungsdienste auf
        diese Weise schneller ans Ziel gelangen. Die Umsetzung könnte sich als schwierig herausstellen, da nicht
        wirklich Platz ist, um die Straße zu verbreitern. Insofern müssten die Busspuren auf Kosten der Autospuren
        gewonnen werden. Diese sind aber schon jetzt maximal ausgelastet zur Hauptverkehrszeit. Die Hoffnung bei einer
        solchen Busspur wäre gewiss auch, dass durch das stabile Angebot auch mehr Menschen vom Auto in den Bus umsteigen
        und auf diese Weise das Problem auf der Kieler Straße reduziert würde. Unter dem Strich bleibt es aber eine Frage
        der Prioritäten: Geht es darum eine auto- oder ÖPNV-freundliche Stadt zu gestalten? Ich bin zu 100% für das
        Letztere und bin daher absolut bereit längere Staus für Autos in Kauf zu nehmen, wenn dafür der ÖPNV flüssig
        rollt.</li>
</ul>

<h3>Verkehrsflussanalyse</h3>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Unklare Verkehrsströme</li>
    <li><span class="font-weight-bold">Lösung:</span> Stadtweite Verkehrsstromanalyse durchführen.</li>
    <li><span class="font-weight-bold">Begründung:</span> Es wird häufig darüber debattiert, wie mehr Menschen vom Auto
        auf den ÖPNV umsteigen. Dafür wäre es aber von zentraler Bedeutung, welche Strecken die Menschen mit dem Auto
        zurücklegen. Abhängig davon könnte dann geklärt werden, welche Angebote überhaupt für einen Umstieg sinnvoll
        in Frage kommen. Da eine solche Analyse stadtweit durchgeführt werden sollte, bin ich dafür die Hamburgische
        Bürgerschaft aufzufordern in dieser Hinsicht tätig zu werden.</li>
</ul>

<h3>Bessere Radwege</h3>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Zu enge Radwege</li>
    <li><span class="font-weight-bold">Lösung:</span> Breitere Radwege bauen.</li>
    <li><span class="font-weight-bold">Begründung:</span> Wer in Radstädte wie Kopenhagen schaut, sieht relativ schnell,
        dass der Radverkehr dort mehr Platz hat. Ich werde mich stark dafür einsetzen, dass neue Radwege mindestens
        so breit sind, dass zwei Radfahrer*innen parallel fahren können und noch etwas mehr als eine Armlänge Abstand
        zur Autofahrbahn haben.</li>
</ul>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Zu wenig Platz an Ampeln</li>
    <li><span class="font-weight-bold">Lösung:</span> Breitere Haltebereiche vor Ampeln.</li>
    <li><span class="font-weight-bold">Begründung:</span> Vor Ampeln sammeln sich häufiger mehrere Radfahrer*innen.
        Diese sollten sich möglichst nebeneinander sammeln können, sodass keine all zu lange Schlange entsteht.
        Dafür braucht es breitere Haltebereiche VOR der Autohaltelinie, sodass die Radfahrer*innen auch zu erst
        losfahren können.</li>
</ul>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Keine Möglichkeit Müll während des Radfahrens zu entsorgen</li>
    <li><span class="font-weight-bold">Lösung:</span> Fahrradgerechte Mülleimer einführen.</li>
    <li><span class="font-weight-bold">Begründung:</span> Auch beim Radfahren möchte mensch womöglich Müll entsorgen.
        Dies sollte aus voller Fahrt möglich sein, weshalb fahrradgerechte Mülleimer nach dem Vorbild Kopenhagens eingeführt
        werden sollten.</li>
</ul>

<h3>Bezahlbares Wohnen</h3>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Nicht bezahlbarer Wohnraum</li>
    <li><span class="font-weight-bold">Lösung:</span> Nachhaltig sozialen Wohnraum umsetzen.</li>
    <li><span class="font-weight-bold">Begründung:</span> <p>Mit einer Bindungsgrenze für sozialen Wohnungsbau werden immer
        wieder soziale Wohnungen gebaut werden müssen, nur um die entfallenden Wohnungen auszugleichen. Aufgrund einer
        desaströsen neoliberalen Wirtschafts- und Sozialpolitik wird die Zahl der Berechtigten jedoch immer größer und ist
        noch lange nicht von den vorhandenen Wohnungen abgedeckt. Eine wirklich nachhaltige Lösung zum Wohnungsproblem
        erfordert ein ganzheitliches Konzept (funktionierende Mietpreisbremse, vernünftig berechneter Mietenspiegel,
        Bekämpfung prekärer Beschäftigung, guter Mindestlohn, Bekämpfung von leerstehendem Wohnraum, Umwandlung von
        Gewerbebrachflächen, Stopp von Verkauf städtischer Flächen zugunsten von Erbpacht, Förderung von
        genossenschaftlichem Bauen, stadteigener Wohnraum auch für Mittelklasse - über sozialem Wohnungsbau aber günstiger
        als luxussanierte Edelwohnungen, uvm), das auf Bundes-, Landes- und Bezirksebene umzusetzen ist.</p>

        <p>Ich will mich dafür einsetzen, dass Eimsbüttel seinen Teil dazu beiträgt und lebenswert als auch bezahlbar
            bleibt und wird.</p>
    </li>
</ul>

<h3>Digitalisierung im Bezirk</h3>

<ul class="list-unstyled">
    <li><span class="font-weight-bold">Problem:</span> Mühsam an Infos zu Vorgägen in der Bezirksversammlung zu kommen</li>
    <li><span class="font-weight-bold">Lösung:</span> Automatischen Newsletter für Bezirkswebseiten einführen.</li>
    <li><span class="font-weight-bold">Begründung:</span> Aktuell muss mensch für jede Info über Vorlagen in der
        Bezirksversammlung oder Ähnlichem auf die Webseite der Bezirksversammlung gehen und sich durchklicken. Es wäre
        viel angenehmer, wenn es eine Newsletterfunktion gäbe, wo die interessanten Themen und/oder Gremien markiert werden
        könnten und dann wöchentlich alle Updates zu den betreffenden Themen/Gremien geschickt würden. Dadurch müsste
        mensch nicht immer auf Verdacht auf die Webseite gehen, sondern könnte ganz bequem die Info per E-Mail bekommen.</li>
</ul>

{% if site.categories['bezirkswahl'].size > 0 %}
<h2 id="blog-posts">Blog posts</h2>

<ul class="post-list list-unstyled">
    {% for post in site.categories['bezirkswahl'] %}
    <li class="mb-4">
        <div class="small text-muted">
            <span class="far fa-calendar-alt"></span>
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%b %-d, %Y" }}
            </time>
            • {% include reading-time.html content=post.content %}
        </div>
        <p class="h4 post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </p>
    </li>
    {% endfor %}
</ul>
{% endif %}