---
layout: default
---
{% if page.date_modified %}
{% assign modified = page.date_modified %}
{% else %}
{% assign modified = page.date %}
{% endif %}

<div class="post" itemscope itemtype="http://schema.org/Event">
    <header class="post-header">
        <h1 class="post-title" itemprop="name about">{{ page.title }}</h1>
    </header>

    <ul class="list-unstyled">
        <li>
            <span class="far fa-map-marker"></span>
            <div class="d-inline" itemprop="location" itemscope itemtype="http://schema.org/Place">
                <span itemprop="name">{{ page.location }}</span>
                <span {% if page.location == page.address %}class="invisible" {% endif %}itemprop="address">{{ page.address }}</span>
            </div>
        </li>
        <li>
            <span class="far fa-calendar-alt"></span>
            <time datetime="{{ page.start_date | date_to_xmlschema }}" itemprop="startDate">
                {% if page.end_date %}Start: {% else %}Date: {% endif %}{{ page.start_date | date: "%b %-d, %Y %H:%M" }}
            </time>
        </li>
        {% if page.end_date %}
        <li>
            <span class="far fa-calendar-alt"></span>
            <time datetime="{{ page.end_date | date_to_xmlschema }}" itemprop="endDate">
                End: {{ page.end_date | date: "%b %-d, %Y %H:%M" }}
            </time>
        </li>
        {% endif %}
    </ul>
    <div class="text-justify" itemprop="description">{{ content }}</div>
</div>
