---
layout: default
---

{% if page.date_modified %}
{% assign modified = page.date_modified %}
{% else %}
{% assign modified = page.date %}
{% endif %}
<article class="post reading-optimised" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <div class="small text-muted">
            <span class="far fa-calendar-alt"></span>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            <meta content="{{ modified | date_to_xmlschema }}" itemprop="dateModified" />
            {% if page.author %} • <span class="far fa-user"></span>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
            </span>{% endif %}
            • {% include reading-time.html content=content %}
        </div>
    </header>

    <div class="text-justify post-content" itemprop="articleBody">
        {{ content|toc }}
    </div>

</article>
