<div class="card sidebar mb-3">
    <img class="card-img-top" src="{{ site.data.author.image }}" alt="{{ site.data.author.name }}">
    <div class="card-body">
        <p class="card-text">
        <ul class="list-unstyled">
            <li><span class="font-weight-bold">Name:</span>&nbsp;{{ site.data.author.name }}</li>
            <li><span class="font-weight-bold">Age:</span>&nbsp;{{ site.data.author.age }}</li>
            <li><span class="font-weight-bold">Location:</span>&nbsp;{{ site.data.author.location }}</li>
            <li><a href="{{ site.data.author.cv_link | relative_url }}">Further information...</a></li>
        </ul>
    </div>
</div>