<div class="card sidebar mb-3">
    <img class="card-img-top" src="{{ site.data.author.image }}" alt="{{ site.data.author.name }}">
    <div class="card-body">
        <h5 class="card-title">Wahl-Kurzinfo</h5>
        <p class="card-text">
        <ul class="list-unstyled">
            <li><span class="font-weight-bold">Name:</span>&nbsp;{{ site.data.author.name }}</li>
            <li><span class="font-weight-bold">Alter:</span>&nbsp;{{ site.data.author.age }}</li>
            <li><span class="font-weight-bold">Beruf:</span> {{ site.data.author.profession }}</li>
            <li><span class="font-weight-bold">Partei:</span> {{ site.data.author.election_party }}</li>
            <li><span class="font-weight-bold">Wohnstadtteil:</span> {{ site.data.author.election_living_district }}</li>
            <li><span class="font-weight-bold">Wahlkreis:</span>&nbsp;{{ site.data.author.election_district }}</li>
            <li><span class="font-weight-bold">Bezirksliste Nr:</span>&nbsp;{{ site.data.author.election_listnr}}</li>
        </ul>
    </div>
</div>